.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  .header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fas {
      transform: scale(2, 2);
    }
    .title {
      font-size: 250%;
      font-family: 'Kalam', cursive;
      color: #13b1d0;
    }
    .fa-bars {
      padding-left: 5%;
    }
    .fa-info-circle {
      padding-right: 5%;
    }
  }
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5vh;
    .home,
    .grades,
    .stats {
      font-size: 135%;
    }
    .home:hover,
    .stats:hover,
    .grades:hover {
      border-bottom: 2px blue solid;
    }
  }
}
