#sidebar {
  position: fixed;
  width: 50%;
  height: 100%;
  background: #eeeeee;
  left: -55%;
  transition: all 200ms linear;
  box-shadow: 1px 12px 15px gray;
  z-index: 1;
  ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      color: black;
      list-style-type: none;
      padding: 10px;
      margin-top: 10px;
      width: 100%;
      padding-left: 15%;
      border-bottom: 2px solid #13b1d0;
      .logout-button {
        font-size: 15px;
        padding: 0;
      }
      a {
        width: 100%;
      }
    }
  }
}

#sidebar.active {
  left: 0px;
}
